@model ProductCatalogMVC.Models.Product

<div class="card mt-4" style="width: 25rem;">
    <img src="@Model.ImageUrl" class="card-img-top" alt="Product Image">
    <div class="card-body">
        <h5 class="card-title">@Model.ProductName</h5>
        <p class="card-text">@Model.Description</p>
        <p><strong>Price:</strong> $@Model.ProductPrice</p>

        <a href="/Product/ShowAll" class="btn btn-secondary">
            Back to All Products
        </a>
    </div>
</div>